.sidebarSprints {
  margin-top: 18px;
}
.sidebarSprintDivider {
  height: 1px;
  background: #e7ebf2;
  margin: 0 11px 16px;
}
.sidebarSprints > p {
  margin: 0 11px 8px;
  color: #758198;
  font-size: 12px;
}
.sidebarSprints > button {
  height: 39px;
  width: 100%;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  text-align: left;
}
.sidebarSprints > button > i {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  flex: 0 0 auto;
}
.sidebarSprints > button > i.indigo {
  background: #4f5cf6;
}
.sidebarSprints > button > i.sky {
  background: #27a5df;
}
.sidebarSprints > button > i.green {
  background: #34ba79;
}
.sidebarSprints > button span {
  font-size: 13px;
  flex: 1;
}
.sidebarSprints > button b {
  font-size: 10px;
  color: #64748b;
  background: #f1f4f7;
  border-radius: 9px;
  padding: 3px 6px;
  white-space: nowrap;
}
.sidebarSprints > button.allSprints {
  margin-top: 6px;
  color: #273851;
  font-weight: 600;
}
.sidebarSprints > button.allSprints svg {
  color: #4e6dff;
}
.sidebarSprints > button.allSprints span {
  font-size: 13px;
}
@media (max-height: 850px) {
  .sidebarSprints > button {
    height: 33px;
  }
  .sidebarSprints {
    margin-top: 10px;
  }
}
